* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: black;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}
ul {
  margin-left: 170px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0a79f0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  color: aliceblue;
  text-decoration: underline black;
  transition: background-size 0.3s;
}

li {
  float: left;

  margin-right: 220px;

}

h1 {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid rgb(255, 238, 0);
  border-radius: 1px;
  padding-bottom: 2px;
  margin-left: 650px;
  width: 200px;
  text-align: center;
}

p {
  color: beige;
  border: 3px solid rgb(255, 150, 3);
  width: 350px;
  padding: 40px 1px 1px px;
  display: inline block;
  float: left;
  margin-left: 100px;
}
.content_1 {
  color: aliceblue;
  border-radius: 10px 10px;
  display: inline block;
  padding: 6px 6px 6px;
}
img{
  border: 1px solid black;
  border-radius: 5% 5%;
  width: 300px;
  height: 290px;
  padding: 15px 5px 5px 5px;
}
.content_2 {
  color: aliceblue;
  border-radius: 10px 10px;
  padding: 6px 6px 6px;
}


.content_3 {
  color: aliceblue;
  border-radius: 10px 10px;
  padding: 6px 6px 6px;
}
