*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
display: flex;
flex-wrap: wrap;
margin: 50px auto;
}


#data1{
 margin-left: 1%;
padding: 20px;
line-height: 40px;
border: 1px solid rgb(212, 150, 14);
width: 20%;
border-radius: 10px;
}
h2{
    text-align: center;
}
#data2{
    margin-left: 5%;
    line-height: 40px;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    border: 1px solid rgb(212, 150, 14);
}
#data3{
    padding: 20px;
    margin-left: 5%;
    line-height: 40px;
    border-radius: 10px;
    width: 20%;
    border: 1px solid rgb(212, 150, 14);

}
#data4{
    margin-left: 5%;
    padding: 20px;
    line-height: 40px;
    border-radius: 10px;
    width: 20%;
    border: 1px solid rgb(212, 150, 14);
}
#data5{
    margin: 20px auto;
    margin-left: 10px;
    width: 20%;
    padding: 20px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid   rgb(212, 150, 14);
}
#data6{
    margin: 20px auto;
    margin-left: 50%;
    padding: 20px;
    line-height: 40px;
    border-radius: 10px;
    width: 20%;
    border: 1px solid rgb(212, 150, 14);
}